@import "responsive";
@import "variables";

.dashboardSidebar {
  &__main {
    height: 100%;
    transition: 0.2s ease-out;
    transform: translateX(0);
    position: relative;
    overflow-y: hidden;
    @include S {
      position: absolute;
      left: 0;
      width: 100vw;
      transform: translateX(-100vw);
      background-color: gray;
    }
    & ul {
      z-index: 100;
      width: 100%;
      position: relative;
      @include S {
        padding: 15px;
      }
    }
    & li {
      padding: 12px 0px 12px 20px;
      background: none;
      border: none;
      text-align: start;
      display: flex;
      align-items: center;
      column-gap: 6px;
      &:hover {
        background-color: $highlight;
        cursor: pointer;
      }
      @include S {
        font-size: 1.6rem;
      }
    }
  }
}

.nav__toggle__btn {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 10px;
  display: none;
  z-index: 50;
  transform: translateY(-40px);
  @include S {
    display: inline-block;
  }
}

.nav__selector {
  position: absolute;
  width: 180px;
  height: 48px;
  top: 0;
  transition: 0.3s ease-out;
  background-color: rgba(241, 154, 83, 0.222);
  pointer-events: none;
  @include S {
    height: 62px;
    width: 100%;
    top: 15px;
  }
}
