.image-background {
  z-index: -2;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/band-main.webp");
  background-size: 100vw 100vh;
  .image-background-overlay {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: rgb(255, 0, 0);
    background: linear-gradient(
      0deg,
      rgba(255, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.3) 61%
    );
  }
}

.social-links__container {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  perspective: 1000px;
  transform-style: preserve-3d;
  color: white;
  scale: 0.13;
  animation: social-card-animation 5s cubic-bezier(0.49, 0.69, 0.61, 0.55)
    infinite;
  transition: 0.2s;
  &:hover {
    scale: 0.2;
    cursor: pointer;
  }
}

.fb {
  left: calc(50vw - 80px);
}
.insta {
  right: calc(50vw - 80px);
}

.social-card {
  width: 250px;
  height: 250px;
  position: absolute;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

#social__front {
  left: 0px;
  transform: translateZ(125px);
  & img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
}
#social__top__fb {
  top: -125px;
  transform: rotateX(-90deg);
  background-color: rgb(70, 154, 240);
}
#social__left__fb {
  left: -125px;
  transform: rotateY(90deg);
  background-color: rgb(42, 99, 215);
}
#social__top__insta {
  top: -125px;
  transform: rotateX(-90deg);
  background-color: white;
}
#social__left__insta {
  left: -125px;
  transform: rotateY(90deg);
  background-color: rgb(238, 238, 238);
}
#social__right {
  right: -125px;
  transform: rotateY(-90deg);
}
#social__bottom {
  bottom: -125px;
  transform: rotateX(90deg);
}

@keyframes social-card-animation {
  0% {
    transform: rotateX(-20deg) rotateY(15deg) rotateZ(10deg);
  }
  50% {
    transform: rotateX(-20deg) rotateY(25deg) rotateZ(20deg);
  }
  100% {
    transform: rotateX(-20deg) rotateY(15deg) rotateZ(10deg);
  }
}
