@import "responsive";
@import "variables";

.mails {
  &__main {
    display: grid;
    grid-template-rows: 50px 1fr;
    overflow: hidden;
    padding-top: 25px;
  }
}

.mails__nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  z-index: 20;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.161);
  & span {
    padding: 0px 20px;
  }
}

.nav__item--hl {
  color: $highlight;
  font-weight: 900;
  text-decoration: underline;
}

.mails__display {
  display: grid;
  grid-template-columns: 140px 1fr;
  column-gap: 15px;
}

.bandMails__display {
  display: grid;
  grid-template-columns: 200px 1fr;
  column-gap: 15px;
  &__sender {
    font-weight: 600;
    border-bottom: 1px solid rgba(0, 0, 0, 0.233);
    padding-bottom: 15px;
    margin-bottom: 15px;
    & span {
      font-weight: 500;
    }
  }
  &__main {
    padding: 15px 10px;
    height: 100%;
  }
  &__li {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  }
}
.mails__sidebar {
  position: relative;
  z-index: 500;
  background-color: white;
  & ul {
    & li {
      padding: 10px;
      &:hover {
        cursor: pointer;
        background-color: $highlight;
      }
    }
  }
}
.mails__selector {
  position: absolute;
  width: 140px;
  height: 44px;
  top: 0;
  transition: 0.3s ease-out;
  background-color: rgba(241, 154, 83, 0.222);
  pointer-events: none;
  @include S {
    height: 44px;
    width: 100%;
    top: 0;
  }
}

// -------   NEW MAIL    -------
.newMail {
  &__main {
    width: 100%;
    padding-top: 15px;
    padding-right: 15px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-bottom: 15px;
    & select {
      width: 200px;
    }
    & textarea {
      resize: none;
      height: 43vh;
    }
    & button {
      width: 100px;
      border: 1px solid black;
      border-radius: 3px;
      transition: 0.15s;
      &:hover {
        cursor: pointer;
        background-color: $primary-orange;
      }
    }
  }
}

// -------   INBOX and SENT    -------

.inbox {
  &__main {
    width: 200%;
    height: 100%;
    transition: 0.3s ease-out;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  &__table {
    width: 100%;
    height: 100%;
    padding-right: 15px;
    &__thead {
      width: 100%;
      & tr {
        padding: 7px 10px;
        font-size: 1.1rem;
        text-align: left;
        display: grid;
        grid-template-columns: 150px 1fr;
        border-bottom: 1px solid rgba(0, 0, 0, 0.243);
        & td {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          padding-right: 10px;
        }
      }
    }
    &__tbody {
      text-align: left;
      & tr {
        padding-left: 10px;
        display: grid;
        grid-template-columns: 150px 1fr;
        border-bottom: 1px solid rgba(0, 0, 0, 0.181);
        & td {
          padding-right: 10px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
  }
  &__body {
    width: 100%;
    height: 100%;
    &__main {
      display: grid;
      grid-template-rows: 1fr 150px;
      width: 100%;
      height: 100%;
      row-gap: 15px;
      padding: 15px 10px;
      &__top {
        display: grid;
        grid-template-rows: 40px 40px 1fr;
        // row-gap: 15px;
        & div {
          &:nth-child(1),
          &:nth-child(2) {
            position: relative;
            font-weight: 600;
            & span {
              font-weight: 500;
            }
            & img {
              position: absolute;
              right: 15px;
              top: 0;
              &:hover {
                cursor: pointer;
              }
            }
          }
          &:nth-child(2) {
            border-bottom: 1px solid rgba(0, 0, 0, 0.181);
            padding-bottom: 15px;
          }
          &:nth-child(3) {
            margin-top: 15px;
            overflow-y: scroll;
          }
        }
      }
      & form {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        & textarea {
          height: 100px;
          resize: none;
          padding: 4px;
        }
        & button {
          height: 30px;
          width: 100px;
          border: 1px solid black;
          border-radius: 3px;
          transition: 0.15s;
          &:hover {
            cursor: pointer;
            background-color: $primary-orange;
          }
        }
      }
    }
  }
}

.inbox__individualMail {
  &:hover {
    background-color: $selector-blue;
    cursor: pointer;
  }
}

.inbox--mailSelected {
  transform: translateX(calc(-50% - 15px));
}
