@import "variables";
@import "responsive";

.menubar {
  &__main {
    display: grid;
    grid-template-columns: 100px 1fr;
    height: 70px;
    place-items: end;
    padding: 0 20px 10px;
    @include S {
      grid-template-columns: 70px 1fr;
    }
  }
  &__nav__wrapper {
    & ul {
      display: flex;
      flex-direction: row;
      justify-content: end;
      & li {
        margin: 0px 25px;
        transition: 0.15s ease-in;
        font-size: 1.2rem;
        @include S {
          margin: 0px 10px;
        }
        &:hover {
          transform: scale(1.1);
          cursor: pointer;
        }
      }
    }
  }
}

.bandLogo__img {
  border-radius: 50%;
}
