@import "variables";
@import "responsive";

.menubar {
  &__main {
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 70px;
    background-color: rgba(255, 255, 255, 0);
    font-weight: 600;
    @include S {
      grid-template-columns: 70px 1fr;
    }
  }
  &__nav__wrapper {
    & ul {
      display: flex;
      flex-direction: row;
      justify-content: end;
      & li {
        transition: 0.15s ease-in;
        @include S {
          margin: 0px 10px;
        }
        &:hover {
          transform: scale(1.1);
          cursor: pointer;
        }
      }
    }
  }
}

.menubar__account__icon {
  position: absolute;
  right: 25px;
  top: 20px;
  transition: 0.15s;
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

.menu-nav-li__0,
.menu-nav-li__1,
.menu-nav-li__3,
.menu-nav-li__4 {
  font-size: 1.2rem;
  color: white;
  display: flex;
  align-items: end;
  margin: 0px 25px;
}

.menu-nav-li__2 {
  font-size: 2.4rem;
  color: white;
  margin: 0px 50px;
}

.menubar--dashboard {
  background-color: white;
  & li {
    color: darken($primary-orange, 50%);
  }
}
.menubar__account__dropdown--dashboard {
  background-color: darken($primary-orange, 50%);
  border-radius: 50%;
}
