@import url("https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Baskervville SC", serif;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  background-color: rgb(255, 255, 253);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

li {
  text-decoration: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  padding: 0;
}

#root {
  padding-top: 75px;
}

input:focus {
  outline: none;
}

.menubar__main {
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: end;
  height: 70px;
  background-color: rgba(255, 255, 255, 0);
  font-weight: 600;
}
@media (max-width: 860px) {
  .menubar__main {
    grid-template-columns: 70px 1fr;
  }
}
.menubar__nav__wrapper ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.menubar__nav__wrapper ul li {
  transition: 0.15s ease-in;
}
@media (max-width: 860px) {
  .menubar__nav__wrapper ul li {
    margin: 0px 10px;
  }
}
.menubar__nav__wrapper ul li:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.menubar__account__icon {
  position: absolute;
  right: 25px;
  top: 20px;
  transition: 0.15s;
}
.menubar__account__icon:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.menu-nav-li__0,
.menu-nav-li__1,
.menu-nav-li__3,
.menu-nav-li__4 {
  font-size: 1.2rem;
  color: white;
  display: flex;
  align-items: end;
  margin: 0px 25px;
}

.menu-nav-li__2 {
  font-size: 2.4rem;
  color: white;
  margin: 0px 50px;
}

.menubar--dashboard {
  background-color: white;
}
.menubar--dashboard li {
  color: rgba(61, 39, 0, 0.717);
}

.menubar__account__dropdown--dashboard {
  background-color: rgba(61, 39, 0, 0.717);
  border-radius: 50%;
}

.dashboard__main {
  width: 100%;
  height: calc(100vh - 120px);
  display: grid;
  grid-template-columns: 180px 1fr 280px;
  column-gap: 25px;
  padding-right: 10px;
}
@media (max-width: 860px) {
  .dashboard__main {
    display: flex;
    padding: 0px 20px;
  }
}

.display__component {
  border-top: 1px solid rgba(0, 0, 0, 0.206);
  padding-top: 10px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.235);
  border-radius: 3px;
  width: 100%;
  height: calc(100vh - 170px);
  padding-bottom: 30px;
}

.dashboardSidebar__main {
  height: 100%;
  transition: 0.2s ease-out;
  transform: translateX(0);
  position: relative;
  overflow-y: hidden;
}
@media (max-width: 860px) {
  .dashboardSidebar__main {
    position: absolute;
    left: 0;
    width: 100vw;
    transform: translateX(-100vw);
    background-color: gray;
  }
}
.dashboardSidebar__main ul {
  z-index: 100;
  width: 100%;
  position: relative;
}
@media (max-width: 860px) {
  .dashboardSidebar__main ul {
    padding: 15px;
  }
}
.dashboardSidebar__main li {
  padding: 12px 0px 12px 20px;
  background: none;
  border: none;
  text-align: start;
  display: flex;
  align-items: center;
  column-gap: 6px;
}
.dashboardSidebar__main li:hover {
  background-color: rgb(241, 155, 83);
  cursor: pointer;
}
@media (max-width: 860px) {
  .dashboardSidebar__main li {
    font-size: 1.6rem;
  }
}

.nav__toggle__btn {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 10px;
  display: none;
  z-index: 50;
  transform: translateY(-40px);
}
@media (max-width: 860px) {
  .nav__toggle__btn {
    display: inline-block;
  }
}

.nav__selector {
  position: absolute;
  width: 180px;
  height: 48px;
  top: 0;
  transition: 0.3s ease-out;
  background-color: rgba(241, 154, 83, 0.222);
  pointer-events: none;
}
@media (max-width: 860px) {
  .nav__selector {
    height: 62px;
    width: 100%;
    top: 15px;
  }
}

.feed__loading {
  width: 280px;
  height: calc(100vh - 170px);
  padding: 10px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.289);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feed__main {
  width: 280px;
  height: calc(100vh - 170px);
  padding: 15px 5px 15px 15px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.289);
  border-radius: 3px;
  display: grid;
  grid-template-rows: 40px 1fr 65px;
  row-gap: 20px;
  transition: 0.2s ease-out;
  transform: translateX(0);
  overflow: hidden;
}
@media (max-width: 860px) {
  .feed__main {
    width: 100vw;
    position: absolute;
    right: 0;
    transform: translateX(100vw);
    padding-left: 25px;
    z-index: 50;
    background-color: gray;
  }
}
.feed__toggle__btn {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 10px;
  display: none;
  z-index: 60;
  transform: translateY(-40px);
}
@media (max-width: 860px) {
  .feed__toggle__btn {
    display: inline-block;
  }
}
.feed__input {
  display: flex;
  flex-direction: column;
}
.feed__input input {
  border: none;
  margin-bottom: 5px;
}
.feed__input button {
  width: 100px;
  border: none;
}
.feed__input button:hover {
  cursor: pointer;
}

.feed__display {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  row-gap: 10px;
}

.feed__message {
  display: grid;
  grid-template-columns: 30px 1fr;
  column-gap: 10px;
}
.feed__message__tn {
  width: 28px;
  height: 28px;
  border-radius: 14px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feed__message__body {
  display: flex;
  flex-direction: column;
}
.feed__message__body h5 {
  font-weight: 500;
}
.feed__message__body h6 {
  font-weight: 500;
  color: gray;
}

.playlists__main {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.playlists__main p {
  text-align: center;
  font-size: 1.3rem;
}
.playlists__body {
  display: grid;
  place-items: center;
  column-gap: 10px;
  row-gap: 50px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media (max-width: 1140px) {
  .playlists__body {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.playlists__card {
  position: relative;
  border-radius: 3px;
  font-size: 0.7rem;
  padding: 12px 0px;
  height: 190px;
  width: 130px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.43);
  border: none;
  transition: 0.1s ease-out;
}
@media (max-width: 860px) {
  .playlists__card {
    width: 100px;
    height: 150px;
    font-size: 0.5rem;
  }
}
.playlists__card:hover {
  transform: scale(1.03);
  cursor: pointer;
}
.playlists__card ol {
  height: 100%;
  overflow: hidden;
  padding-left: 25px;
}
.playlists__card ol li {
  list-style-type: decimal;
}
.playlists__card span {
  position: absolute;
  bottom: -25px;
  font-weight: 600;
}
.playlists__card--new {
  font-size: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}
.playlists__card--new span {
  font-size: 0.8rem;
  color: black;
  position: absolute;
  bottom: -25px;
  font-weight: 600;
}

.delete__btn__wrapper {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: rgba(255, 0, 0, 0.705);
  color: white;
  text-align: center;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -10px;
  top: -10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  transition: 0.15s;
}
.delete__btn__wrapper:hover {
  transform: scale(1.1);
  background-color: rgba(255, 0, 0, 0.887);
}

.playlists__searchbar {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0px 0px 20px;
}
.playlists__searchbar input {
  width: 40vw;
  height: 30px;
  border-radius: 7px;
  border: 1px solid rgb(142, 142, 142);
  padding: 0px 15px;
}
@media (max-width: 860px) {
  .playlists__searchbar input {
    width: 70vw;
  }
}
.playlists__searchbar button {
  width: 50px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  position: absolute;
  padding-top: 3px;
  transform: translateX(18vw);
  border-left: 1px solid rgba(142, 142, 142, 0);
  transition: 0.15s;
  cursor: pointer;
}
.playlists__searchbar button:hover {
  border-left: 1px solid rgb(142, 142, 142);
}
@media (max-width: 860px) {
  .playlists__searchbar button {
    transform: translateX(30vw);
  }
}

.plistEdit__main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 150;
  transition: 0.15s;
  transform: scale(0);
  display: flex;
  justify-content: center;
}
.plistEdit--active {
  transform: scale(1);
}
.plistEdit__display {
  width: 76.9230769231vh;
  height: 100vh;
  background-color: white;
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.309);
  padding: 35px;
  display: grid;
  grid-template-rows: 70px 1fr 50px 50px;
  row-gap: 20px;
}
.plistEdit__title__label {
  font-weight: 700;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.087);
  border-radius: 3px;
  padding: 5px 10px;
}
.plistEdit__title__input {
  width: 100%;
  font-weight: 500;
  font-size: 1rem;
}
.plistEdit__closeBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  background: none;
  border-radius: 50%;
  transition: 0.15s;
  padding: 3px;
}
.plistEdit__closeBtn:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.274);
}
.plistEdit__songs {
  overflow-y: scroll;
  position: relative;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.087);
  border-radius: 3px;
}
.plistEdit__songs::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.393);
  z-index: 1000;
}
.plistEdit__song {
  height: 35px;
  display: grid;
  grid-template-columns: 1fr 40px 22px;
  align-items: center;
  column-gap: 5px;
  transition: 0.15s;
  padding: 0px 10px;
}
.plistEdit__song:hover {
  background-color: rgb(219, 235, 242);
  cursor: pointer;
}
.plistEdit__song__name--input {
  border: none;
  padding: 0;
  background-color: lightblue;
}
.plistEdit__song__sort {
  border-left: 1px solid rgba(0, 0, 0, 0.25);
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}
.plistEdit__song__sort img {
  transition: 0.15s;
}
.plistEdit__song__sort img:hover {
  background-color: #d4ebf2;
}
.plistEdit__song__del {
  position: relative;
}
.plistEdit__song__del img {
  transition: 0.15s;
}
.plistEdit__song__del img:hover {
  transform: scale(1.15);
}
.plistEdit__addNewSong {
  display: grid;
  grid-template-columns: 50px 1fr;
  column-gap: 15px;
  position: relative;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.087);
}
.plistEdit__addNewSong::before, .plistEdit__addNewSong::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.393);
  z-index: 1000;
}
.plistEdit__addNewSong::after {
  bottom: 0;
}
.plistEdit__addNewSong button {
  border: none;
  background: none;
  padding: 0;
}
.plistEdit__addNewSong button:hover {
  cursor: pointer;
}
.plistEdit__addNewSong button:disabled {
  cursor: auto;
}
.plistEdit__addNewSong input {
  height: 100%;
  border: none;
  padding: 0;
}
.plistEdit__options {
  display: flex;
  justify-content: space-between;
}
.plistEdit__options button {
  transition: 0.15s;
  position: relative;
}
.plistEdit__options button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.22);
}
.plistEdit__options button:disabled {
  cursor: not-allowed;
}
.plistEdit__options--left button {
  margin-right: 10px;
  border-radius: 3px;
  border: 1px solid black;
}
.plistEdit__options--left button:nth-child(1) {
  background-color: rgb(241, 249, 255);
}
.plistEdit__options--left button:nth-child(1):hover {
  background-color: #bee3ff;
}
.plistEdit__options--left button:nth-child(2) {
  background-color: rgb(255, 240, 228);
}
.plistEdit__options--left button:nth-child(2):hover {
  background-color: #ffd4b1;
}
.plistEdit__options--left button:nth-child(3) {
  background-color: rgb(238, 255, 234);
}
.plistEdit__options--left button:nth-child(3):hover {
  background-color: #c5ffb7;
}
.plistEdit__options--right button {
  border-radius: 3px;
  border: 1px solid black;
  background-color: rgb(255, 240, 240);
}
.plistEdit__options--right button:hover {
  background-color: #ffbdbd;
}
.plistEdit__options--right button:nth-child(2) {
  background-color: rgb(238, 255, 234);
}
.plistEdit__options--right button:nth-child(2):hover {
  background-color: #c5ffb7;
}
.plistEdit__options--right button:nth-child(3) {
  background-color: rgb(255, 240, 228);
}
.plistEdit__options--right button:nth-child(3):hover {
  background-color: #ffd4b1;
}

.playlistEdit__tooltip {
  position: absolute;
  left: -23px;
  bottom: -27px;
  width: 100px;
  opacity: 0;
  transition: 0.3s;
  z-index: 1000;
  border: 1px solid black;
  background-color: rgb(255, 254, 245);
  font-size: 0.8rem;
}
.playlistEdit__tooltip--open {
  opacity: 0.8;
}

.plistEdit__saveBtn,
.plistEdit__delBtn {
  position: relative;
}

.plistEdit__confirmBox {
  font-weight: 600;
  position: absolute;
  top: -3px;
  right: 0;
  border: 1px solid black;
  border-radius: 3px;
  background-color: rgb(255, 255, 246);
  width: 150px;
  transition: 0.15s;
  text-align: center;
  padding: 5px;
  z-index: 1000;
  transform: scale(0);
  opacity: 0;
  pointer-events: none;
  cursor: default;
}
.plistEdit__confirmBox button {
  margin: 5px 5px;
  cursor: pointer;
  border: 1px solid black;
  transition: 0.15s;
}
.plistEdit__confirmBox__delsong--active {
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;
}
.plistEdit__confirmBox__delplist, .plistEdit__confirmBox__saveplist {
  top: -50px;
}
.plistEdit__confirmBox__saveplist--active, .plistEdit__confirmBox__delplist--active {
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;
}

.plistEdit__notification {
  position: absolute;
  bottom: 0;
}

.plistEdit__notification {
  color: green;
  font-weight: 600;
}

.playlists__main--failed {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}
.playlists__main--failed button {
  border: 1px solid black;
}
.playlists__main--failed button:hover {
  background-color: rgba(255, 184, 61, 0.717);
  cursor: pointer;
}

.mails__main {
  display: grid;
  grid-template-rows: 50px 1fr;
  overflow: hidden;
  padding-top: 25px;
}

.mails__nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  z-index: 20;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.161);
}
.mails__nav span {
  padding: 0px 20px;
}

.nav__item--hl {
  color: rgb(241, 155, 83);
  font-weight: 900;
  text-decoration: underline;
}

.mails__display {
  display: grid;
  grid-template-columns: 140px 1fr;
  column-gap: 15px;
}

.bandMails__display {
  display: grid;
  grid-template-columns: 200px 1fr;
  column-gap: 15px;
}
.bandMails__display__sender {
  position: relative;
  font-weight: 600;
  border-bottom: 1px solid rgba(0, 0, 0, 0.233);
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.bandMails__display__sender span {
  font-weight: 500;
}
.bandMails__display__main {
  padding: 15px 10px;
  height: 100%;
}
.bandMails__display__li {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.mails__sidebar {
  position: relative;
  z-index: 500;
  background-color: white;
}
.mails__sidebar ul li {
  padding: 10px;
}
.mails__sidebar ul li:hover {
  cursor: pointer;
  background-color: rgb(241, 155, 83);
}

.mails__selector {
  position: absolute;
  width: 140px;
  height: 44px;
  top: 0;
  transition: 0.3s ease-out;
  background-color: rgba(241, 154, 83, 0.222);
  pointer-events: none;
}
@media (max-width: 860px) {
  .mails__selector {
    height: 44px;
    width: 100%;
    top: 0;
  }
}

.newMail__main {
  width: 100%;
  padding-top: 15px;
  padding-right: 15px;
}
.newMail__form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-bottom: 15px;
}
.newMail__form select {
  width: 200px;
}
.newMail__form textarea {
  resize: none;
  height: 43vh;
}
.newMail__form button {
  width: 100px;
  border: 1px solid black;
  border-radius: 3px;
  transition: 0.15s;
}
.newMail__form button:hover {
  cursor: pointer;
  background-color: rgba(255, 184, 61, 0.717);
}

.inbox__main {
  width: 200%;
  height: 100%;
  transition: 0.3s ease-out;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.inbox__table {
  width: 100%;
  height: 100%;
  padding-right: 15px;
}
.inbox__table__thead {
  width: 100%;
}
.inbox__table__thead tr {
  padding: 7px 10px;
  font-size: 1.1rem;
  text-align: left;
  display: grid;
  grid-template-columns: 150px 1fr;
  border-bottom: 1px solid rgba(0, 0, 0, 0.243);
}
.inbox__table__thead tr td {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 10px;
}
.inbox__table__tbody {
  text-align: left;
}
.inbox__table__tbody tr {
  padding-left: 10px;
  display: grid;
  grid-template-columns: 150px 1fr;
  border-bottom: 1px solid rgba(0, 0, 0, 0.181);
}
.inbox__table__tbody tr td {
  padding-right: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.inbox__body {
  width: 100%;
  height: 100%;
}
.inbox__body__main {
  display: grid;
  grid-template-rows: 1fr 150px;
  width: 100%;
  height: 100%;
  row-gap: 15px;
  padding: 15px 10px;
}
.inbox__body__main__top {
  display: grid;
  grid-template-rows: 40px 40px 1fr;
}
.inbox__body__main__top div:nth-child(1), .inbox__body__main__top div:nth-child(2) {
  position: relative;
  font-weight: 600;
}
.inbox__body__main__top div:nth-child(1) span, .inbox__body__main__top div:nth-child(2) span {
  font-weight: 500;
}
.inbox__body__main__top div:nth-child(1) img, .inbox__body__main__top div:nth-child(2) img {
  position: absolute;
  right: 15px;
  top: 0;
}
.inbox__body__main__top div:nth-child(1) img:hover, .inbox__body__main__top div:nth-child(2) img:hover {
  cursor: pointer;
}
.inbox__body__main__top div:nth-child(2) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.181);
  padding-bottom: 15px;
}
.inbox__body__main__top div:nth-child(3) {
  margin-top: 15px;
  overflow-y: scroll;
}
.inbox__body__main form {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.inbox__body__main form textarea {
  height: 100px;
  resize: none;
  padding: 4px;
}
.inbox__body__main form button {
  height: 30px;
  width: 100px;
  border: 1px solid black;
  border-radius: 3px;
  transition: 0.15s;
}
.inbox__body__main form button:hover {
  cursor: pointer;
  background-color: rgba(255, 184, 61, 0.717);
}

.inbox__individualMail:hover {
  background-color: rgb(219, 235, 242);
  cursor: pointer;
}

.inbox--mailSelected {
  transform: translateX(calc(-50% - 15px));
}

.mails_del_btn {
  position: absolute;
  top: 0;
  right: 0;
}
.mails_del_btn img {
  transition: 0.15s;
}
.mails_del_btn img:hover {
  transform: scale(1.15);
}

.mails_del_confirmBox {
  font-weight: 600;
  position: absolute;
  top: -3px;
  right: 0;
  border: 1px solid black;
  border-radius: 3px;
  background-color: rgb(255, 255, 246);
  width: 150px;
  transition: 0.15s;
  text-align: center;
  padding: 5px;
  z-index: 1000;
  transform: scale(0);
  opacity: 0;
  pointer-events: none;
  cursor: default;
}
.mails_del_confirmBox button {
  margin: 5px 5px;
  cursor: pointer;
  border: 1px solid black;
  transition: 0.15s;
}
.mails_del_confirmBox button:nth-child(2):hover {
  background-color: rgb(206, 255, 206);
}
.mails_del_confirmBox button:nth-child(3):hover {
  background-color: rgba(255, 0, 0, 0.403);
}
.mails_del_confirmBox_delMail--active {
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;
}

.sliderbar__container {
  width: 40px;
  height: 20px;
  border: none;
  position: relative;
}

.slider__mid {
  z-index: 10;
  width: 40px;
  height: 20px;
  border-radius: 10px;
  background-color: rgb(255, 255, 244);
  border: 1px solid rgba(0, 0, 0, 0.4);
  position: relative;
}
.slider__mid:hover {
  cursor: pointer;
}

.circle__l {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  z-index: 4;
  appearance: none;
}

.circle__r {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  z-index: 5;
}

.slider__ball {
  position: absolute;
  left: 1px;
  top: 1px;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  background-color: rgb(241, 155, 83);
  border: none;
  z-index: 15;
  transition: 0.2s ease-out;
  pointer-events: none;
}

.dropdown__modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.536);
  z-index: 999;
}

.menubar__account__dropdown {
  position: absolute;
  right: 15px;
  top: 75px;
  width: 250px;
  background-color: white;
  z-index: 1000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.308);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.338);
}

.menubar__account__select__div {
  display: flex;
  justify-content: center;
  column-gap: 1px;
  position: relative;
}
.menubar__account__select__div button {
  font-weight: 600;
  border: 1px solid black;
  padding: 0px 20px;
  width: 100px;
  cursor: pointer;
  position: relative;
  background-color: rgba(255, 255, 255, 0);
}

.menubar__account__select__login {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.menubar__account__select__signup {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.menubar__account__selector {
  transition: 0.15s ease-out;
  background-color: rgba(255, 184, 61, 0.717);
  width: 100px;
  height: 26px;
  position: absolute;
  left: 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.menubar__account__selector--signup {
  left: 101px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.account__loginDiv,
.account__signupDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding-top: 15px;
}
.account__loginDiv form,
.account__signupDiv form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.account__loginDiv form label,
.account__signupDiv form label {
  padding-top: 10px;
}

.error__message__span {
  width: 100%;
  font-size: 0.7rem;
  color: red;
  padding-top: 4px;
}

.login__label {
  position: relative;
}

.form__ph__text {
  position: absolute;
  left: 10px;
  top: 13px;
  transition: 0.15s;
}

.form__ph__text--active {
  top: 3px;
  background-color: white;
  padding: 0px 4px;
  font-size: 0.7rem;
}

.account__form__button {
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 1px 15px;
  transition: 0.15s;
}
.account__form__button:hover {
  cursor: pointer;
  background-color: rgba(255, 184, 61, 0.717);
}

.profileTn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 3rem;
  text-align: center;
  place-content: center;
  border: 1px solid black;
  background-color: rgba(255, 184, 61, 0.256);
}

.signout__div {
  display: flex;
  justify-content: center;
  align-items: end;
  column-gap: 3px;
  padding-top: 15px;
  font-size: 0.8rem;
  color: red;
}
.signout__div:hover {
  cursor: pointer;
}

.go-to-dashboard {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid rgba(0, 0, 0, 0.318);
  padding: 3px 10px;
  border-radius: 5px;
  transition: 0.15s;
}
.go-to-dashboard:hover {
  background-color: rgba(255, 203, 112, 0.717);
}

.display__component--welcome {
  border-top: 1px solid rgba(0, 0, 0, 0.206);
  padding-top: 10px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.235);
  border-radius: 3px;
  width: 100%;
  height: calc(100vh - 170px);
  padding-bottom: 30px;
  overflow: hidden;
  position: relative;
}
.display__component--welcome::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url("/dashboard_texture.png");
  background-size: contain;
  opacity: 0.085;
}

.welcome-anm-div__whitespace {
  position: absolute;
  top: 10%;
  left: 50px;
  bottom: calc(10% + 50px);
  right: 50px;
  background-color: white;
  border-radius: 25px;
}

.welcome-anm-div {
  position: relative;
  margin: 50px;
  background-color: white;
  border-radius: 25px;
  height: 80%;
  transform-style: preserve-3d;
  animation: 1.2s cubic-bezier(0.33, 0.64, 0.62, 0.97) forwards;
}
.welcome-anm-div::before {
  content: "";
  border-radius: 25px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url("/dashboard_texture.png");
  background-size: contain;
  opacity: 0.085;
}

@keyframes rotateWelcomeAnmDiv {
  100% {
    transform: rotateY(180deg);
  }
}
.welcome-anm-div__back,
.welcome-anm-div__front {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.welcome-anm-div__front {
  transform: translateZ(220px) scale(1.5);
}

.welcome-anm-div__back {
  transform: translateZ(-220px) rotateY(180deg);
  align-items: center;
}
.welcome-anm-div__back img {
  border-radius: 50%;
}

.note-div {
  transform: translateZ(100px);
  position: relative;
  height: 300px;
  width: 20px;
  display: flex;
  align-items: end;
}

.anm-letter-span {
  position: absolute;
  bottom: 0;
  left: 5px;
  font-weight: 600;
  opacity: 0;
  animation: letter forwards 0.6s;
}

.anm-note {
  position: absolute;
  top: 0;
  opacity: 0;
  animation: noteFalling 0.6s forwards cubic-bezier(0.69, 0.51, 0.5, 1.25), opac 0.6s forwards;
}

.anm-shadow {
  border-radius: 50%;
  height: 5px;
  width: 5px;
  background-color: black;
  transform-style: preserve-3d;
  perspective: 300px;
  opacity: 0;
  animation: shadowGrowing 0.7s forwards, opac 0.7s forwards;
  margin-left: 8px;
}

@keyframes noteFalling {
  0% {
    transform: translateY(70px);
  }
  100% {
    transform: translateY(248px);
  }
}
@keyframes shadowGrowing {
  0% {
    transform: scale(0) rotateX(60deg);
  }
  100% {
    transform: scale(2.5) rotateX(60deg);
  }
}
@keyframes opac {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes letter {
  0% {
    transform: scale(2.4);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.particle_div {
  position: absolute;
  z-index: 100;
  width: 30px;
  height: 30px;
  bottom: 0;
  left: -2px;
}

.particle {
  position: absolute;
  z-index: 100;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  top: 17px;
  left: 11px;
  opacity: 0;
  border: 1px solid rgba(43, 0, 255, 0);
  animation: 0.85s cubic-bezier(0.33, 0.64, 0.62, 0.97) forwards;
}

@keyframes m0 {
  0% {
    opacity: 1;
    border: 1px solid rgba(43, 0, 255, 0.53);
    transform: scale(0);
  }
  50% {
    opacity: 1;
  }
  69% {
    transform: scale(3);
    top: 5px;
  }
  70% {
    transform: scale(1.5);
    top: 5px;
  }
  100% {
    opacity: 0;
    top: 5px;
    border: 1px solid rgb(43, 0, 255);
  }
}
@keyframes m1 {
  0% {
    opacity: 1;
    border: 1px solid rgba(255, 0, 0, 0.476);
    transform: scale(0);
  }
  50% {
    opacity: 1;
  }
  69% {
    transform: scale(3);
    top: 10px;
    left: 20px;
  }
  70% {
    transform: scale(1.5);
    top: 10px;
    left: 20px;
  }
  100% {
    opacity: 0;
    top: 9px;
    left: 20px;
    border: 1px solid rgb(255, 0, 0);
  }
}
@keyframes m2 {
  0% {
    opacity: 1;
    border: 1px solid rgb(55, 255, 0);
    transform: scale(0);
  }
  50% {
    opacity: 1;
  }
  69% {
    transform: scale(3);
    left: 25px;
  }
  70% {
    transform: scale(1.5);
    left: 25px;
  }
  100% {
    opacity: 0;
    left: 25px;
    border: 1px solid rgb(55, 255, 0);
  }
}
@keyframes m3 {
  0% {
    opacity: 1;
    border: 1px solid rgb(255, 0, 242);
    transform: scale(0);
  }
  50% {
    opacity: 1;
  }
  69% {
    transform: scale(3);
    top: 27px;
    left: 21px;
  }
  70% {
    transform: scale(1.5);
    top: 27px;
    left: 21px;
  }
  100% {
    opacity: 0;
    top: 27px;
    left: 21px;
    border: 1px solid rgb(255, 0, 242);
  }
}
@keyframes m4 {
  0% {
    opacity: 1;
    border: 1px solid rgb(251, 255, 0);
    transform: scale(0);
  }
  50% {
    opacity: 1;
  }
  69% {
    transform: scale(3);
    top: 32px;
  }
  70% {
    transform: scale(1.5);
    top: 32px;
  }
  100% {
    opacity: 0;
    top: 32px;
    border: 1px solid rgb(251, 255, 0);
  }
}
@keyframes m5 {
  0% {
    opacity: 1;
    border: 1px solid rgb(0, 255, 183);
    transform: scale(0);
  }
  50% {
    opacity: 1;
  }
  69% {
    transform: scale(3);
    top: 27px;
    left: 2px;
  }
  70% {
    transform: scale(1.5);
    top: 27px;
    left: 2px;
  }
  100% {
    opacity: 0;
    top: 27px;
    left: 2px;
    border: 1px solid rgb(0, 255, 183);
  }
}
@keyframes m6 {
  0% {
    opacity: 1;
    border: 1px solid rgb(123, 0, 255);
    transform: scale(0);
  }
  50% {
    opacity: 1;
  }
  69% {
    transform: scale(3);
    left: -2px;
  }
  70% {
    transform: scale(1.5);
    left: -2px;
  }
  100% {
    opacity: 0;
    left: -2px;
    border: 1px solid rgb(123, 0, 255);
  }
}
@keyframes m7 {
  0% {
    opacity: 1;
    border: 1px solid rgb(255, 98, 0);
    transform: scale(0);
  }
  50% {
    opacity: 1;
  }
  69% {
    transform: scale(3);
    top: 9px;
    left: 2px;
  }
  70% {
    transform: scale(1.5);
    top: 9px;
    left: 2px;
  }
  100% {
    opacity: 0;
    top: 9px;
    left: 2px;
    border: 1px solid rgb(255, 98, 0);
  }
}
.anm--hidden {
  opacity: 0;
}

.image-background {
  z-index: -2;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/band-main.webp");
  background-size: 100vw 100vh;
}
.image-background .image-background-overlay {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: rgb(255, 0, 0);
  background: linear-gradient(0deg, rgba(255, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.3) 61%);
}

.social-links__container {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  perspective: 1000px;
  transform-style: preserve-3d;
  color: white;
  scale: 0.13;
  animation: social-card-animation 5s cubic-bezier(0.49, 0.69, 0.61, 0.55) infinite;
  transition: 0.2s;
}
.social-links__container:hover {
  scale: 0.2;
  cursor: pointer;
}

.fb {
  left: calc(50vw - 80px);
}

.insta {
  right: calc(50vw - 80px);
}

.social-card {
  width: 250px;
  height: 250px;
  position: absolute;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

#social__front {
  left: 0px;
  transform: translateZ(125px);
}
#social__front img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

#social__top__fb {
  top: -125px;
  transform: rotateX(-90deg);
  background-color: rgb(70, 154, 240);
}

#social__left__fb {
  left: -125px;
  transform: rotateY(90deg);
  background-color: rgb(42, 99, 215);
}

#social__top__insta {
  top: -125px;
  transform: rotateX(-90deg);
  background-color: white;
}

#social__left__insta {
  left: -125px;
  transform: rotateY(90deg);
  background-color: rgb(238, 238, 238);
}

#social__right {
  right: -125px;
  transform: rotateY(-90deg);
}

#social__bottom {
  bottom: -125px;
  transform: rotateX(90deg);
}

@keyframes social-card-animation {
  0% {
    transform: rotateX(-20deg) rotateY(15deg) rotateZ(10deg);
  }
  50% {
    transform: rotateX(-20deg) rotateY(25deg) rotateZ(20deg);
  }
  100% {
    transform: rotateX(-20deg) rotateY(15deg) rotateZ(10deg);
  }
}
.footer {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: auto;
  text-align: end;
  color: white;
  font-size: 0.8rem;
  font-weight: 600;
  padding-right: 20px;
}

.gallery__background {
  z-index: -2;
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
}

.gallery__main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  row-gap: 90px;
  justify-content: center;
  align-items: center;
  background-color: black;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  overflow: hidden;
}
.gallery__main h1 {
  margin-top: 50px;
  color: white;
  font-size: 3rem;
}

.gallery__video {
  width: 50vw;
}

.gallery__gridbox {
  width: auto;
  display: grid;
  grid-template-columns: repeat(6, 107px);
  grid-template-rows: repeat(7, 200px);
  margin-top: 250px;
  transform: scale(1.4);
}
@media (max-width: 1140px) {
  .gallery__gridbox {
    margin-top: 150px;
    transform: scale(1.2);
  }
}
@media (max-width: 860px) {
  .gallery__gridbox {
    margin-top: 50px;
    transform: scale(1);
    grid-template-columns: repeat(4, 107px);
    grid-template-rows: repeat(10, 200px);
  }
}

.gallery__gridbox__image {
  aspect-ratio: 173/200;
  padding: 0px 5px;
  object-fit: cover;
  grid-column: 2 span;
  transition: clip-path 0.2s ease-in-out, filter 0.2s ease-in-out;
  clip-path: path("M108.25,0 L216.5,62.5 L216.5,187.5 L108.25,250 L0,187.5 L0,62.5 Z");
}
.gallery__gridbox__image:nth-child(5n-1) {
  grid-column: 2/2 span;
}
@media (max-width: 860px) {
  .gallery__gridbox__image:nth-child(3n+1) {
    grid-column: 2/span;
  }
}
.gallery__gridbox__image:not(:hover) {
  animation: zIndexModifier 0.2s;
}
.gallery__gridbox__image:hover {
  clip-path: path("M 108.25 0 L 216.5 0 L 216.5 250 L 108.25 250 L 0 250 L 0 0 Z");
  z-index: 100;
}

@keyframes zIndexModifier {
  0%, 100% {
    z-index: 100;
  }
}
.gallery__gridbox:hover > img {
  filter: brightness(0.5) saturate(0.5);
}

.gallery__gridbox > img:hover {
  filter: brightness(1) saturate(1.2);
}

.gigs__main-div {
  color: white;
  height: calc(100vh - 90px);
  padding: 20vh 8vw 5vh;
  display: flex;
  justify-content: space-between;
}

.gig_title {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 5px;
  color: transparent;
  background: rgb(255, 184, 61);
  background: linear-gradient(150deg, rgb(255, 184, 61) 51%, rgb(255, 255, 255) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 200% 200%;
}

.next-gig-title {
  transition: 0.2s;
  transform: translateX(-500px);
}

@keyframes background-swing {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 200% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.gig_div_title {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 5px;
  color: transparent;
  background: rgb(255, 184, 61);
  background: linear-gradient(150deg, rgb(255, 184, 61) 51%, rgb(255, 255, 255) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 200% 200%;
}

.upcoming-gig-title {
  transition: 0.2s;
  transform: translateX(500px);
}

.next-gig {
  border: 1px solid black;
  width: 300px;
  height: 350px;
  border-radius: 10px;
  background: rgb(0, 0, 0);
  background: linear-gradient(150deg, rgb(0, 0, 0) 38%, rgb(2, 2, 2) 40%, rgb(52, 52, 52) 100%);
  box-shadow: 1px 1px 13px 2px rgba(255, 255, 255, 0.499);
  display: grid;
  grid-template-rows: 220px 1fr;
  padding: 10px;
  row-gap: 10px;
  font-size: 1.2rem;
  transition: 0.2s;
  transform: translateX(-500px);
}

.next-gig__img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.next-gig__info {
  position: relative;
  overflow: hidden;
}
.next-gig__info img {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 3px;
  right: 5px;
}
.next-gig__info img:hover {
  cursor: pointer;
}

.next-gig__overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  z-index: 100;
}

@keyframes bring-text-in-view {
  100% {
    transform: translateX(300px);
  }
}
.gig-address {
  font-size: 0.8rem;
}

.gigs__main-div__right {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.upcoming-gig {
  display: grid;
  grid-template-columns: 60px 1fr;
  height: 80px;
  width: 300px;
  border-radius: 10px;
  background: rgb(0, 0, 0);
  background: linear-gradient(150deg, rgb(0, 0, 0) 38%, rgb(2, 2, 2) 40%, rgb(52, 52, 52) 100%);
  box-shadow: 1px 1px 13px 2px rgba(255, 255, 255, 0.499);
  padding: 10px;
  column-gap: 15px;
  transition: 0.2s;
  transform: translateX(500px);
}
.upcoming-gig img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.upcoming-gig__overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  z-index: 100;
}

.upcoming-gig__info {
  position: relative;
  overflow: hidden;
}
.upcoming-gig__info img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 25px;
  height: 25px;
}

@keyframes come-in-view {
  100% {
    transform: translateX(0);
  }
}
.contact__page__main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: -2;
  padding-top: 150px;
  display: flex;
  justify-content: center;
  column-gap: 10vw;
}

.sentSuccessfully {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  row-gap: 100px;
}
.sentSuccessfully h3 {
  display: flex;
  align-items: center;
  column-gap: 15px;
  color: rgba(255, 184, 61, 0.717);
}
.sentSuccessfully h3 img {
  display: inline;
  width: 30px;
}

.contact__form__div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  row-gap: 15px;
}
.contact__form__div h1 {
  color: rgba(255, 184, 61, 0.717);
  font-size: 3rem;
  margin-bottom: 20px;
}
.contact__form__div h6 {
  color: red;
}
.contact__form__div input, .contact__form__div textarea {
  background-color: black;
  border: 1px solid rgba(255, 184, 61, 0.717);
  width: 300px;
  color: rgba(255, 184, 61, 0.717);
  padding-left: 10px;
}
.contact__form__div input::placeholder, .contact__form__div textarea::placeholder {
  color: rgba(255, 184, 61, 0.717);
}
.contact__form__div input {
  height: 35px;
  color: white;
}
.contact__form__div textarea {
  height: 180px;
  color: white;
  resize: none;
}
.contact__form__div button {
  background-color: rgba(255, 184, 61, 0.717);
}

.contact__label {
  position: relative;
}

.form__phc__text {
  position: absolute;
  left: 10px;
  top: 5px;
  color: rgba(255, 184, 61, 0.717);
  transition: 0.3s;
}

.form__phc__text--active {
  top: -8px;
  background-color: black;
  padding: 0px 4px;
  font-size: 0.7rem;
}

.contact__info__div {
  display: flex;
  flex-direction: column;
  justify-content: end;
  row-gap: 1vh;
  color: rgba(255, 184, 61, 0.717);
}
.contact__info__div h2 {
  color: rgba(255, 184, 61, 0.717);
}

.ext__links__div--contact {
  margin-top: 15px;
  justify-content: start;
}

.we_main_div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 184, 61, 0.717);
  z-index: -2;
  padding-top: 150px;
  color: white;
}